body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

.hero-unit {
  color: white;
  background: url('../img/ice-example.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-unit-content {
  padding: 10px 0;
  margin-left: -60px;
  margin-right: -60px;
  background-color: #292929;
}

.hero-unit-links {
  margin: 0;
  margin-top:5px;
  list-style: none;
  font-size: 14px;
}

.hero-unit-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

.hero-unit-links a {
  color: rgba(255,255,255,.5);
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.featurette-heading {
  font-size: 50px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image-wrapper {
  display: table;
}

.featurette-image-wrapper div {
  display: table-cell;
  vertical-align: middle;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image-wrapper.pull-left {
  margin-right: 40px;
}
.featurette-image-wrapper.pull-right {
  margin-left: 40px;
}

.featurette-image {
  width: 470px;
  height: auto;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.clear {
  clear: both;
}