.DS_Store

# Thumbnails
._*

# TextMate Extras
*.tmproj

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.swp

*.py[cod]

# C extensions
 *.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Logs
log.txt
ice.log
stdout.log
stderr.log
error.log
