#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	sudo rm -rf /tmp/pip_build_root
	sudo rm -rf build	
	sudo rm -rf Ice.egg-info
	sudo rm -rf dist

override_dh_auto_configure:

override_dh_auto_build:
	# Prereqs
	sudo pip install --upgrade pysteam appdirs
	# Setup Ice
	sudo python setup.py install

override_dh_auto_install:

override_dh_usrlocal:
